/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Mar 2022, 1:41:59 pm
    Author     : Davey D
*/
h1{
    font-family: Verdana, Geneva, sans-serif;
    position: fixed;
    top: 0px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
}

form.formxd {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
}

body {
    background-image: url(Images/SkyBlue4.jpg);
}

p {
    font-family: Verdana, Geneva, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

span.whitestrip {
    position: fixed;
    top: 0;
    margin-top: 0px;
}

span.pageheading {
    color: #c68c53;
    font-size: 30px;
}

ul.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 75px;
    left: 0;
}

li {
    float: left;
}

li a {
    display: black;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

li a:hover {
    background-color: #111;
}

li.Active {
    background-color: #c68c53;
}

li.Active a:hover {
    background-color: #c68c53;
}

footer {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 5px 0px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

li.ActFoot a {
    Color: #c68c53;
}

ul.foot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer a {
    text-decoration: none;
    padding: 0px 15px;
    color: white;
}

footer a:hover {
    background-color: #333;
    color: #c68c53;
}

li.dontH a:hover {
    color: white;
}

.paymain{
    padding-left: 20px;
}

.paybox{
    background-color: #ffffff;
    width: 350px;
    border-radius: 10px;
}
.paymentfull{
    display: flex;
    flex-direction: column;
    width: 200px;
}


.name{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 25px;
}

.cnum{
    padding-bottom: 30px;
    padding-left: 25px;
}

.expdate{
    padding-bottom: 30px;
    padding-left: 25px;
}

.check{
    padding-left: 25px;
}

.col{
    padding-left: 25px;
    padding-bottom: 30px;
}

.card{
    padding-left: 25px;
}

.check1{
    padding-bottom: 10px;
}





